.contentCont {
    width: 300px;
    background-color: rgba(128, 128, 128, 0.349);
    border-radius: 32px;
    padding: 19px 10px;
    display: flex;
    flex-direction: column;
}

.green {
    background-color: #D6E5BE;
}

.contentCont>button {
    display: flex;
    cursor: pointer;
    background-color: white;
    padding: 12px 17px;
    border-radius: 30px;
    border: 2px solid #D6E5BE;
}


.contentCont>h1 {
    font-size: 29px;
    font-weight: 400;
    margin: 7px;
}

.contentCont>p {
    font-size: 14px;
    margin: 10px;
}

.buttons {
    margin: 10px;
}