* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}